@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    background: #D4D3D8;
    margin: 0;
}
.block{
    box-shadow: 0px 8px 35px rgb(0 0 0 / 36%);
   width: 1440px;
   height: 295px; 
   background: #196B78;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.block h1{
    font-family: inter;
    font-size: 72px;
    font-weight: 700;
    color: #CCF8FF;
    margin: 0;
    padding-top: 64px;
}
.block h2{
    font-family: inter;
    font-size: 21px;
    font-weight: 400;
    color: #CCF8FF;
    margin: 0;
    margin-top: 12px;
    opacity: 0.75;
}
.placeholder{
    position: relative;
    padding-top: 74px;
}
input{    
    font-size: 24px;
    font-family: inter;
    color:  #ABB5BE;
    width: 820px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    border-style: none;
    padding-left: 32px;
}
.cards{    
    box-shadow: 0px 8px 35px rgb(0 0 0 / 36%);
    background-color: #EDEEF3;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: space-evenly;
    
}
.card{
    box-shadow: 0px 8px 25px rgb(0 0 0 / 36%);
    margin-top: 20px;
    width: 300px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}


.card p{
    font-weight: 400;
    font-size: 56px;
    line-height: 48px;
    text-align: center;
    margin: 0;
    padding-top: 30px;

    
}
.card h1{
    margin: 0;
    font-weight: 700;
    font-family: inter;
    font-size: 17px;
    line-height: 28px;
    text-decoration: underline;
    text-align: center;
    padding-top: 30px;

}
.card h2{
    margin: 0;
    font-family: inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #3F444A;
    padding-top: 30px;
    width: 190px;
}

    